
/* General link styles for on a light background */

a {
    color: #0f7585;
}

a:hover{
    color: #8d0081; 
}

a:active{
    color: #f00ddd;
}

/* Styling for modals to appear appropriately */

body.modal{
  height: 100vh;
  /* overflow-y: hidden; */
}

body {
    overflow: overlay;
}

/* Navigation section styles */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
background: rgba(90, 90, 90);
}
  
::-webkit-scrollbar-track {
background: rgba(0, 0, 0, 0.2);
}

.nav-item {
    text-align: right;
}

.navbar-text {
    float: right;
}

/* Jumbotron styles */

.jumbotron {
    background-color: #000000;
    opacity: 0.9;
    background-image:  linear-gradient(30deg, #101010 12%, transparent 12.5%, transparent 87%, #101010 87.5%, #101010), linear-gradient(150deg, #101010 12%, transparent 12.5%, transparent 87%, #101010 87.5%, #101010), linear-gradient(30deg, #101010 12%, transparent 12.5%, transparent 87%, #101010 87.5%, #101010), linear-gradient(150deg, #101010 12%, transparent 12.5%, transparent 87%, #101010 87.5%, #101010), linear-gradient(60deg, #10101077 25%, transparent 25.5%, transparent 75%, #10101077 75%, #10101077), linear-gradient(60deg, #10101077 25%, transparent 25.5%, transparent 75%, #10101077 75%, #10101077);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.jumbotron h1 {
    color: white;
}

.jumbotron p {
    color: white;
}

.jumbotron a {
    color: #0dcaf0;
}

.jumbotron a:hover {
    color: #8d0081;
}

.jumbotron a:active {
    color: #f00ddd;
}

/* Overriding built-in Bootstrap styles for appropriate contrast */

.btn-outline-secondary {
    color: black;
    border-color: black;
}

.form-check-label {
    color: white;
}

.user-grid {
    text-align: center;
    width: 100%;
}

/* Card styles */

.card {
    margin-bottom: 1em;
}

.card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

